@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Open Sans, sans-serif;
	margin: 0 auto;
	width: 1366px;
	background-color: #fbfbfb;
}

header {
	width: 100%;
	padding-top: 1px;
	z-index: 0;
	display: inline-block;
	position: relative;
	min-height: 850px;
	background-color: darkcyan;
}

header>video {
	position: absolute;
	top: 0%;
	z-index: -1;
	width: 1518px;
	margin-left: -76px;
	margin-right: -76px;
	display: block;
}

.logo {
	margin-top: 82px;
	margin-left: 150px;
	border-radius: 2px;
	border-width: 3.54px;
	border-color:  #ffffff;
	border-style: solid;
	opacity: 0.6;
	width: 143px;
	height: 49px;
	float: left;
}

.logo a {
	text-decoration: none;
}

.logo h1 {
	color:  #ffffff;
	font-size: 37.77px;/* Приближение из-за подстановки шрифтов */
	font-weight: 600;
	line-height: 45.739px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
}

.logo h1::first-letter{
	color:  #fc6744;
	text-transform: uppercase;
}

.menu {
	float: right;
	margin-top: 92px;
	margin-right: 130px;
}

.menu li {
	float: left;
	list-style-type: none;
	padding-left: 20px;
	padding-right: 20px;
}

.menu li a {
	text-decoration: none;
	color:  #ffffff;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 600;
	line-height: 48px;/* Приближение из-за подстановки шрифтов */
	text-align: right;
	display: inline-block;
}

.menu li a:hover {
	/*color:  #170f1c;*/
	font-weight: 700;
	border-bottom: 4px solid #ffffff;
}

.welcoming {
	margin-top: 350px;
}

.welcoming h1 {
	text-align: center;
	text-transform: capitalize;
	color:  #ffffff;
	font-size: 50px;/* Приближение из-за подстановки шрифтов */
	font-weight: 600;
	line-height: 45.739px;
}

.welcoming h1 span {
	color:  #fc6744;
}

.welcoming p {
	margin: 0 auto;
	margin-top: 26px;
	width: 703px;
	color:  #ffffff;
	font-size: 16px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 25px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
}

.sign-in {
	margin-top: 5%;
	/*margin-left: 150px;*/
	border-radius: 2px;
	background-color:  #ffffff;
	box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
	width: 372px;
	opacity: 0.7;
}

.sign-in h4 {
	/*text-transform: capitalize;*/
	padding-top: 25px;
	color:  #211917;
	font-size: 20px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 25px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
	opacity: 1;
}

.sign-in h4 span {
	color:  #ff5c36;
	text-transform: capitalize;
}

.form-group input {
	border-width: 1px;
	border-color:  #d9dee1;
	border-style: solid;
	background-color:  #ffffff;
	width: 268px;
	height: 46px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 26px;
	margin-top: 12px;
	margin-bottom: 12px;
	font-family: Open Sans;
	outline: none;
}

.sign-in form textarea {
	border-width: 1px;
	border-color:  #d9dee1;
	border-style: solid;
	background-color:  #ffffff;
	width: 268px;
	height: 92px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 26px;
	margin-top: 12px;
	margin-bottom: 12px;
	line-height: 46px;
}

.sign-in form input[type="submit"] {
	margin-left: 67px;
	margin-bottom: 20px;
	border-radius: 27px;
	border-style: solid;
	border-width: 0;
	border-color:  rgba(1, 2, 2, 7);
	background-color:  #ff5c36;
	box-shadow: 5px 10px 20px 0px rgba(20, 20, 21, 0.08);
	width: 238px;
	height: 55px;
	color:  #ffffff;
	font-size: 16px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 25px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
	outline:none;
}

.ourPreferences {
	width: 100%;
	display: inline-block;
}

.sectionHeading {
	margin-top: 144px;
}

.sectionHeading h2 {
	color:  #626262;
	font-size: 50px;/* Приближение из-за подстановки шрифтов */
	font-weight: 600;
	line-height: 45.739px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
}

.sectionHeading h2 span {
	color:  #fc6744;
}

.sectionHeading p {
	color:  #626262;
	font-size: 16px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
	margin-top: 8px;
}

.prefPic {
	margin-top: 109px;
	margin-left: 8%;
	display: inline-block;
}

.prefPic>div {
	margin-right: 31px;
	margin-bottom: 181px;
}

.prefPicOne {
	width: 262px;
	height: 256px;
	background-color:  #FC6744	;
	box-shadow: 0px 0px 35px 0px rgba(20, 20, 21, 0.21);
	background-image: url(../images/magnet.png);
	background-repeat: no-repeat;
	background-position: 110px 45px;
	display: inline-block;
	float: left;
}

.prefPicTwo {
	width: 262px;
	height: 256px;
	background-color:  #FCA544;
	box-shadow: 0px 0px 35px 0px rgba(20, 20, 21, 0.21);
	background-image: url(../images/bug.png);
	background-repeat: no-repeat;
	background-position: 110px 45px;
	display: inline-block;
	float: left;
}

.prefPicThree {
	width: 262px;
	height: 256px;
	background-color:  #307D9F;
	box-shadow: 0px 0px 35px 0px rgba(20, 20, 21, 0.21);
	background-image: url(../images/gears.png);
	background-repeat: no-repeat;
	background-position: 110px 45px;
	display: inline-block;
	float: left;
}

.prefPicFour {
	width: 262px;
	height: 256px;
	background-color:  #31B566;
	box-shadow: 0px 0px 35px 0px rgba(20, 20, 21, 0.21);
	background-image: url(../images/photo.png);
	background-repeat: no-repeat;
	background-position: 110px 45px;
	display: inline-block;
	float: left;
}

.prefText h4 {
	padding-top: 100px;
	color:  #ffffff;
	font-size: 20px;/* Приближение из-за подстановки шрифтов */
	font-weight: 600;
	text-align: center;
	text-transform: capitalize;
}

.prefText p {
	margin-top: 24px;
	color:  #ffffff;
	font-size: 15px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 22px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
}

.knowMore-btn {
	text-align: center;
	border-radius: 27px;
	background-color:  #ffffff;
	box-shadow: 3px 5px 14px 0px rgba(20, 20, 21, 0.09);
	width: 228px;
	height: 55px;
	display: block;
	line-height: 55px;
	text-decoration: none;
	text-transform: capitalize;
	color:  #000000;
	margin-left: 16px;
	margin-top: 32px;
	}

.knowMore-btn:hover {
	background-image: url(../images/Plus.png);
	background-repeat: no-repeat;
	background-position: 50px 20px;
}

.productList {
	width: 100%;
	min-height:1611px;
	display: inline-block;
}

.prodList {
	margin-top: 113px;
	margin-left: 8%; 
}

.prodList div {
	width: 360px;
	height: 360px;
	background-color: #ff5c36;
	display: inline-block;
	margin-right: 29px;
	margin-top: 29px;
}

.feedbacks {
	margin-bottom: 200px;
}

.flex-container {
	display: flex;
	justify-content: space-around;
}

.feedback {
	position: relative;
	/*display: flex;*/
	border-radius: 1px;
	background-color:  #ffffff;
	box-shadow: 0px 0px 27px 0px rgba(20, 20, 21, 0.09);
	width: 537px;
	margin-top: 140px;
}

.user-pic {
	border-radius: 50%;
	background-color:  #ffffff;
	box-shadow: 0px 0px 1px 0px rgba(20, 20, 21, 0.75);
	width: 99px;
	height: 99px;
	position: absolute;
    top: -50px;
    left: 220px;
	z-index: 1;
}

.message {

}

.message p {
	padding-top: 100px;
	color:  #000000;
	font-size: 17px;
	font-weight: 400;
	line-height: 27px;
	text-align: center;
}

.message .name {
	margin-top: 22px;
	margin-bottom: 30px;
	color:  #000000;
	font-size: 17px;
	font-weight: 600;
	line-height: 27px;
	text-align: center;
	text-transform: capitalize;
	display: block;
}

footer {
	background-color: #f7f7f7;
	padding-top: 50px;
}

footer>a {
	text-decoration: none;
	color: #000000;
}

.contact-us {
	border-radius: 27px;
	margin-left: 41%;
	border-width: 1px;
	border-color:  rgba(1, 2, 2, 7);
	background-color:  #fdfdfd;
	box-shadow: 5px 10px 20px 0px rgba(20, 20, 21, 0.07);
	width: 238px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	padding-top: 13px;
	padding-bottom: 13px;
}

footer>p {
	color:  rgba(4, 4, 4, 0.6);
	font-size: 17px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 45.739px;
	text-align: center;
	padding-top: 30px;
}